name: Documentation

on:
  push:
    branches:
      - main
    paths:
      - '**'
      - '!dist/**'
      - '!.modelence/**'
      - '!**/node_modules/**'
      - '!docs/build/**'
      - '!.git/**'

jobs:
  deploy:
    name: Update Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Install root dependencies (for TypeDoc)
        run: npm ci

      - name: Install types dependencies
        working-directory: ./packages/types
        run: npm ci

      - name: Install Modelence dependencies
        working-directory: ./packages/modelence
        run: npm ci

      - name: Install React Query dependencies
        working-directory: ./packages/react-query
        run: npm ci

      - name: Install AI dependencies
        working-directory: ./packages/ai
        run: npm ci

      - name: Install docs dependencies
        run: |
          cd docs
          npm ci

      - name: Generate TypeDoc
        run: npm run docs

      - name: Build website
        run: |
          cd docs
          npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build
          publish_branch: gh-pages
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com
          cname: docs.modelence.com